@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  color: #000;
  font-family: fira sans;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 3rem;
  line-height: 1.1;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 2rem;
  line-height: 1.2;
}
p {
  font-size: 1rem;
  line-height: 1.8;
}

a,
i {
  color: #e42424;
}

i {
  font-size: 40px;
}

button {
  font-size: 1.3rem;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 2vh 2vh;
}


section {
  padding: 2.4vh 1.5vh;
}


div,
section {
  box-sizing: border-box;
  text-align: center;
  padding: 2vh;
}

div h1,
div h2,
div h3,
div p,
section h3,
section p {
  margin: 3.3vh 2vh;
}
/* MAIN */

main {
  width: 100%;
}

#banner_box {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: 50% 100%;
  color: white;
  text-align: left;
  padding-left: 4vh;
}

#banner_box p {
  margin: 3.3vh 1vh;
  margin-bottom: 4vh;
}

#banner_box h1 {
  margin: 3.3vh 1vh;
}

button {
  background-image: linear-gradient(to right, #6cc1e2, #392f7a);
  border: none;
  padding: 15px 20px;
  font-size: 1.2rem;
}

#form_container{
  height: 30%;
}

#contact_form {
  height: 32%;
  margin: 0 auto;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#contact_form textarea{
  width: 100%;
  padding-top: 1vh;
}

#contact_form button{
  width: 25vh;
}

/* FOOTER */

footer {
  padding: 5vh;
  background-color: rgb(238, 238, 238);
}

footer div {
  text-align: left;
  width: 92%;

  padding: 0;
}

footer h4 {
  font-size: 1.5rem;
}

footer div p {
  margin-left: 0;
}

footer div i {
  padding-top: 2vh;
}

#contact div {
  margin-bottom: 6vh;
}

#form{
 margin-top: 6vh auto;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}

label {
  margin-top: 3vh;
  font-size: 1.5rem;
}

#form input {
  padding:2vh;
  margin-top: 3vh;
}

#form button {
  padding: 2vh 
}

footer p {
  margin-top: 2vh;
}

/* RESPONSIVE */


@media screen and (min-width: 0px) and (max-width: 767px){
  ul{
    display: none;
  }
}


@media screen and (min-width: 768px) {
  body {
    max-width: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 1.5vh;
    align-items: center;
  }

  #ellipsis{
    display: none;
  }

  nav {
    display: inline;
  }

  nav ul li {
    list-style-type: none;
    color: grey;
    display: inline-block;
    font-size: large;
  }

  li a {
    text-decoration: none;
    color: grey;
    padding: 1.5vh;
  }

  button a {
    color: white;
    padding: 15px 8px;
  }

  #banner_box {
    background-position: 50% 100%;
    padding: 7vh 10vh;
  }

  #banner_box button {
    border: 5px solid black;
  }



  footer {
    box-sizing: border-box;
    max-width: 100%;
    padding: 6vh;
  }

  #contact {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }

  #contact div{
    padding: 2vh;
  }

  #contact h4 {
    font-size: 1.4rem;
  }

  #form input {
    padding: 20px 35px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 12.5vh;
  }

  #banner_box {
    width: 100%;
    height: 25%;
    background-position: 50% 50%;
    padding: 6vh 25vh;
    background-size: cover;
  }

  #banner_box h1,
  #banner_box p {
    margin: 2vh 0 auto;
  }

  #banner_box button {
    margin-left: 2vh;
  }

  footer {
    text-align: center;
    margin-top: 10vh;
  }
}
